<h1>Stupid Coaching</h1>

<form action="/answer">
  <p>Ask a Question:</p>
  <input type="text" name="question" placeholder="The coach is waiting" class="ask">
  <input type="submit" value="Push it!" class="button">
</form>
